.carousel {
  position: relative;
  animation: start_carousel 2s 3s linear both;

  @media (500px < width < 1080px) {
    margin-bottom: 10rem;
  }

  @media (width < 500px) {
    width: 100vw;
    margin-left: -2.5rem;
    height: 18rem;
    overflow: hidden;
    margin-bottom: -15rem;
  }


  img {
    position: absolute;
    top: 0;
    
    animation: project_carousel 40s ease-in-out infinite;

    border-radius: 0.5rem;

    width: 22.5rem;
    height: 12rem;
    transition: transform 0.3s ease;
    
    @media (width > 500px) {
      width: 40rem;
      height: 20rem;
      margin-left: 1.5rem;
    }
    
    @media (width > 1080px) {
      width: 50rem;
      height: 25rem;
      margin-left: -57rem;
      border-radius: 1rem;
    }
    
    &:nth-child(1) {
        animation-delay: -75s;
    }
    
    &:nth-child(2) {
        animation-delay: -65s;
    }
    
    &:nth-child(3) {
        animation-delay: -55s;
    }
    
    &:nth-child(4) {
        animation-delay: -45s;
    }
  }

  @keyframes start_carousel {
    from {
      opacity: 0;
    } to {
      opacity: 1;
    }
  }
  
  
  @keyframes project_carousel {
    0% {
      transform: translate(-120px, 20px) scale(0.8);
      opacity: 0.6;
    }
    25% {
      transform: translateY(60px) scale(1);
      opacity: 1;
      z-index: 10;
    }
    50% {
      transform: translate(120px, 20px) scale(0.8);
      opacity: 0.6;
      z-index: -10;
    }
    75% {
      transform: scale(0.8);
      opacity: 0.6;
    }
    100% {
      transform: translate(-120px, 20px) scale(0.8);
      opacity: 0.6;
    }
  }

  @media (width > 500px) {
    @keyframes project_carousel {
      0% {
        transform: translate(-120px, 30px) scale(0.8);
        opacity: 0.6;
      }
      25% {
        transform: translateY(90px) scale(1);
        opacity: 1;
        z-index: 10;
      }
      50% {
        transform: translate(120px, 30px) scale(0.8);
        opacity: 0.6;
        z-index: -10;
      }
      75% {
        transform: scale(0.8);
        opacity: 0.6;
      }
      100% {
        transform: translate(-120px, 30px) scale(0.8);
        opacity: 0.6;
      }
    }
  }

  @media (width > 1080px) {
    @keyframes project_carousel {
      0% {
        transform: translate(-180px, 30px) scale(0.8);
        opacity: 0.6;
      }
      25% {
        transform: translate(0px, 100px) scale(1);
        opacity: 1;
        z-index: 10;
      }
      50% {
        transform: translate(180px, 30px) scale(0.8);
        opacity: 0.6;
        z-index: -10;
      }
      75% {
        transform: scale(0.8);
        opacity: 0.6;
      }
      100% {
        transform: translate(-180px, 30px) scale(0.8);
        opacity: 0.6;
      }
    }
  }
}