@import "tailwindcss";

#navbar.scrolled {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    height: 5vh;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid #f5f5d4;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}
