.cube-container {
    perspective: 800px;
    width: 200px;
    height: 200px;
    margin: 100px auto;

    transform: translate(300px, -300px);
    opacity: 0;
    animation: cube_starting 2s 1s linear both;
    
    position: absolute;
    top: -220px;
    right: -50px;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    animation: spin 5s linear infinite;
    
    &:hover, &.active {
        animation: none;
        scale: 0.2;
        transform: translateY(200px);
    }
    
    .face {
        position: absolute;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: black;
        // border: 0.5rem solid rgb(70, 170, 190);
        
        &.front {
            transform: translateZ(100px);
        }
        
        &.back {
            transform: rotateY(180deg) translateZ(100px);
        }
        
        &.left {
            transform: rotateY(-90deg) translateZ(100px);
        }
        
        &.right {
            transform: rotateY(90deg) translateZ(100px);
        }
        
        &.top {
            transform: rotateX(90deg) translateZ(100px);
        }
        
        &.bottom {
            transform: rotateX(-90deg) translateZ(100px);
        }
    }
}

.cube-dropdown {
    height: auto;
    display: none;
    z-index: 50;

    &.active {
        display: block;
    }

    .dropdown-content {
        width: 40rem;
        height: auto;
        background-color: rgba(255, 255, 255, 0.658);
        border-radius: 1rem;
        position: absolute;
        top: 20;
        right: 20px;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        
        .profile-pic {
            background-color: whitesmoke;
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            overflow: hidden;

            img {
                scale: 2.5;
                max-width: 100%;
                height: auto;
                margin-left: -3.5rem;
                margin-top: -0.5rem;
            }
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1.5rem;
            margin-top: 2rem;

            a svg:hover {
                scale: 1.1;
            }
        }

        button {
            margin-top: 2rem;
            width: 25rem;
            height: 3rem;

            border-radius: 1rem;
            background-color: rgba(13,13,87,1);
            color: whitesmoke;
            font-weight: bold;

            cursor: pointer;

            &:hover {
                box-shadow: 2px 2px 5px rgba(13,13,87,1);
                text-shadow: 1px 1px 10px;
            }
        }
    }
}

.header_dropdown {
    position: absolute;
    top: 0;
    right: 0;

    .dropdown-content {
        background-color: rgba(229, 232, 235, 0.596);
        width: 95vw;
        height: auto;
        z-index: 20;
        
        position: absolute;
        right: 10px;
        top: 10;
        border-radius: 0.5rem;


        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &.active {
            display: flex;
        }

        .profile-pic {
            width: 120px;
            height: 120px;
            overflow: hidden;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            margin-top: 1rem;
            
            
            img {
                width: 300px;
                height: 400px;

                transform: translate(-130px, -130px);
            }
        }
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            margin-top: 2rem;

            a svg:hover {
                scale: 1.1;
            }
        }

        button {
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 20rem;
            height: 3rem;

            border-radius: 1rem;
            background-color: rgba(13,13,87,1);
            color: whitesmoke;
            font-weight: bold;

            cursor: pointer;

            &:hover {
                box-shadow: 2px 2px 5px rgba(13,13,87,1);
                text-shadow: 1px 1px 10px;
            }
        }

        @media (width > 500px) {
            right: 25px;
        }
    }

    @media (width > 1080px) {
        display: none;
    }
}


@keyframes spin {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

@keyframes cube_starting {
    from {
        opacity: 0;
        transform: translate(300px, -300px);
    } to {
        opacity: 1;
        transform: translate(0, 0);
    }
}