---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Home from "../components/Home.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
  <Header />
  <nav
  class="fixed z-50 transition-all duration-200 left-4 right-4 md:left-1/2 md:right-auto md:-translate-x-1/2 md:w-auto md:px-3 md:rounded-full bg-transparent"
  style="top: 24px;"
  >
    </nav><div class="antialiased">
      <div class="min-h-screen bg-black text-white">
        <Home />
        <Projects />
        <Skills />
        <Contact />
      </div>
    </div>
</Layout>