<section
          class="h-screen flex items-center justify-center relative overflow-hidden"
          style="opacity: 1;"
          id="home"
        >
          <div
            class="absolute inset-0 bg-linear-to-br from-purple-900/20 to-blue-900/20"
          >
          </div><div class="relative z-10 text-center">
            <h1
              class="text-4xl md:text-7xl font-bold mb-6 bg-clip-text text-transparent bg-linear-to-r from-blue-400 to-purple-600"
              style="transform: none;"
            >
              Mohamed Irfan
            </h1><p
              class="text-lg md:text-xl text-gray-300 mb-8 px-4"
              style="opacity: 1; transform: none;"
            >
              Developer with a strong foundation in Full Stack Developement
            </p>
          </div><div
            class="absolute bottom-10 left-1/2 transform -translate-x-1/2"
            style="opacity: 1; transform: none;"
          >
            <div class="animate-bounce">
              <svg
                class="w-6 h-6 text-gray-400"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                ><path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 14l-7 7m0 0l-7-7m7 7V3"></path></svg>
            </div>
          </div>
        </section>