<section id="projects" class="py-12 md:py-20 px-4 max-w-7xl mx-auto">
          <h2
            class="text-3xl md:text-4xl font-bold mb-8 md:mb-12 text-center"
            style="opacity: 1; transform: none;"
          >
            Featured Projects
          </h2><div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div
              class="group relative aspect-video bg-linear-to-br from-purple-900/50 to-blue-900/50 rounded-xl overflow-hidden"
              style="opacity: 1; transform: none;"
            >
              <img
                alt="ERP Software"
                loading="lazy"
                decoding="async"
                data-nimg="fill"
                class="object-cover transition-transform group-hover:scale-105"
                sizes="100vw"
                src="/erp-sales.png"
                style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"
              /><div
                class="absolute inset-0 bg-black/50 group-hover:bg-black/30 transition-colors duration-300"
              >
              </div><div class="absolute inset-0 p-6 flex flex-col justify-end">
                <h3 class="text-xl font-bold mb-2">ERP Software</h3><p
                  class="text-gray-300 mb-4"
                >
                  A web based ERP solution designed for businesses seeking seamless management of their operations
                </p><div class="flex gap-4">
                  <a
                    class="text-sm px-4 py-2 bg-white/10 hover:bg-white/20 rounded-full transition-colors"
                    href="https://erp-one-lovat.vercel.app/">View Project</a
                  ><a
                    class="text-sm px-4 py-2 bg-white/10 hover:bg-white/20 rounded-full transition-colors"
                    href="https://github.com/MhdIr7an/ERP">GitHub</a>
                </div>
              </div>
            </div><div
              class="group relative aspect-video bg-linear-to-br from-purple-900/50 to-blue-900/50 rounded-xl overflow-hidden"
              style="opacity: 1; transform: none;"
            >
              <img
                alt="Corinna AI"
                loading="lazy"
                decoding="async"
                data-nimg="fill"
                class="object-cover transition-transform group-hover:scale-105"
                sizes="100vw"
                src="/corinna-home.png"
                style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"
              /><div
                class="absolute inset-0 bg-black/50 group-hover:bg-black/30 transition-colors duration-300"
              >
              </div><div class="absolute inset-0 p-6 flex flex-col justify-end">
                <h3 class="text-xl font-bold mb-2">Corinna AI</h3><p
                  class="text-gray-300 mb-4"
                >
                  AI based Chatbot using either OpenAI or Gemini
                </p><div class="flex gap-4">
                  <a
                    class="text-sm px-4 py-2 bg-white/10 hover:bg-white/20 rounded-full transition-colors"
                    href="https://ai-chatbot-one-eosin.vercel.app/">View Project</a
                  ><a
                    class="text-sm px-4 py-2 bg-white/10 hover:bg-white/20 rounded-full transition-colors"
                    href="https://github.com/MhdIr7an/ai-chatbot">GitHub</a>
                </div>
              </div>
            </div><div
              class="group relative aspect-video bg-linear-to-br from-purple-900/50 to-blue-900/50 rounded-xl overflow-hidden"
              style="opacity: 1; transform: none;"
            >
              <img
                alt="Gericht Restaurant"
                loading="lazy"
                decoding="async"
                data-nimg="fill"
                class="object-cover transition-transform group-hover:scale-105"
                sizes="100vw"
                src="/gericht-home.png"
                style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"
              /><div
                class="absolute inset-0 bg-black/50 group-hover:bg-black/30 transition-colors duration-300"
              >
              </div><div class="absolute inset-0 p-6 flex flex-col justify-end">
                <h3 class="text-xl font-bold mb-2">Gericht Restaurant</h3><p
                  class="text-gray-300 mb-4"
                >
                  A restaurant webpage that let users make reservations
                </p><div class="flex gap-4">
                  <a
                    class="text-sm px-4 py-2 bg-white/10 hover:bg-white/20 rounded-full transition-colors"
                    href="https://gericht-restau-ant.netlify.app/">View Project</a
                  ><a
                    class="text-sm px-4 py-2 bg-white/10 hover:bg-white/20 rounded-full transition-colors"
                    href="https://github.com/MhdIr7an/restaurant">GitHub</a>
                </div>
              </div>
            </div><div
              class="group relative aspect-video bg-linear-to-br from-purple-900/50 to-blue-900/50 rounded-xl overflow-hidden"
              style="opacity: 1; transform: none;"
            >
              <img
                alt="Community Based Nature Conservation"
                loading="lazy"
                decoding="async"
                data-nimg="fill"
                class="object-cover transition-transform group-hover:scale-105"
                sizes="100vw"
                src="/cbnc-organise_event.png"
                style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"
              /><div
                class="absolute inset-0 bg-black/50 group-hover:bg-black/30 transition-colors duration-300"
              >
              </div><div class="absolute inset-0 p-6 flex flex-col justify-end">
                <h3 class="text-xl font-bold mb-2">Community Based Nature Conservation</h3><p
                  class="text-gray-300 mb-4"
                >
                 A web app focused on creating awareness and a community that work towards the welfare of the nature
                </p><div class="flex gap-4">
                  <a
                    class="text-sm px-4 py-2 bg-white/10 hover:bg-white/20 rounded-full transition-colors"
                    href="https://mhdirfan.pythonanywhere.com/">View Project</a
                  ><a
                    class="text-sm px-4 py-2 bg-white/10 hover:bg-white/20 rounded-full transition-colors"
                    href="https://github.com/MhdIr7an/CBNC">GitHub</a>
                </div>
              </div>
            </div>
          </div>
        </section>