.intro {
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: clamp(16px, 6vw, 180%);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;


    animation: typing 2s steps(22) 0.5s 1 normal both,
    blinkTextCursor 3s 1 normal both;
}


.description {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: clamp(17px, 3vw, 20px);

    @media (width < 800px) {
        margin-top: 2rem;
        gap: 10px;
        flex-direction: column;
    }
    
    p {
        background: linear-gradient(150deg, 
        rgb(245, 244, 169) 0%,
        rgb(248, 246, 135) 20%,
        rgb(248, 246, 107) 40%,
        rgb(250, 247, 78) 60%,
        rgb(250, 246, 45) 80%
        );
        background-clip: text;
        color: transparent;
        animation: starting 2s 1 normal both,
        spin_2s_linear 3s ease infinite;
        @media (width < 800PX) {
            margin: 0 auto;
            color: rgb(250, 247, 78);
            background: none;
        }
    }
}

@keyframes typing{
    from {
        width: 0;
    }
    
    to {
        width: 13.5em;
    }
}

@keyframes blinkTextCursor {
    0%, 15.0% {
        border-right-color: rgba(255, 255, 255, .75);
    }

    15.0%, 30.0% {
        border-right-color: transparent;
    }
    
    30%, 45.0% {
        border-right-color: rgba(255, 255, 255, .75);
    }

    45.0%, 60.0% {
        border-right-color: transparent;
    }

    60%, 75.0% {
        border-right-color: rgba(255, 255, 255, .75);
    }

    75.0%, 90.0% {
        border-right-color: transparent;
    }

    90%, 99.0% {
        border-right-color: rgba(255, 255, 255, .75);
    }

    99.0%, 100.0% {
        border-right-color: transparent;
    }
}

@keyframes spin_2s_linear {
    0% {
        background-size: 0%;
    } 25% {
        background-size: 10%;
    } 50% {
        background-size: 30%;
    } 75% {
        background-size: 60%;
    } 100% {
        background-size: 100%;
    }
}